body {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 50px;
  background-color: antiquewhite;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 300px;
  margin: auto;
  background: black;
  padding: 20px;
  border-radius: 10px;
}

#result {
  grid-column: span 3;
  background-color: #161A30;
  color: white;
  outline: 0;
  border-radius: 10px;
  font-size: 17px;
  color: #ffffff;
  transition: background-color 0.3s;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0,0,0.2);
  padding: 20px;
  text-align: right;
  font-size: 1 em;
}

#calc {
  font-weight: 600;
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0,0,0.2);
  background: #F0ECE5;
  font-size: 20px;
  color: #000000;
  transition: background-color 0.3s;
}

#calc:hover {
  background-color: #d0cbc4;
}

#operator{
  width: 60px;
  height: 60px;
  font-weight: 600;+;
  background-color: #161A30;
  color: white;
  outline: 0;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  transition: background-color 0.3s;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0,0,0.2);
}

#operator:hover {
  background-color: #0c0c0c;

}

#del {
  height: 60px;
  width: 60px;
  background-color: #161A30;
  color: white;
  outline: 0;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  transition: background-color 0.3s;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0,0,0.2);

}

#del:hover {
  background-color: #0c0c0c;

}

#equals {
  grid-column: span 2;
  background-color: #161A30;
  color: white;
  outline: 0;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  transition: background-color 0.3s;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0,0,0.2);

}

#equals:hover {
  background-color: #0c0c0c;

}

#clear {
  grid-column: span 2;
  background-color: #161A30;
  color: white;
  outline: 0;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  transition: background-color 0.3s;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0,0,0,0.2);

}

#clear:hover {
  background-color: #0c0c0c;

}

